@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");


body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke !important;
}

.socmed a {
  text-decoration: none;
  color: black;
}

.btn-custom-dark{
  background-color: #2d3e50 !important;
  color: white !important;
}


input, select, textarea {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
 
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .w-100 {
        width: 50% !important;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
